html, body {
    overflow: hidden !important;
}

#quiz {
    position: absolute;
    width: 100%;
    height: 100%;
}

#quiz #question {
    position: absolute;
    width: 100%;
    height: 25%;
}

#quiz #options {
    overflow-y: auto;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 70%;
}

#quiz #options > div {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 70px;
}

#quiz #progress {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 5%;
}

#quiz #progress #time-bar {
    width: 0;
    height: 100%;
    background-color: #0B2;

    transition: none;
}

#quiz #progress #time-bar.animate {
    width: 100%;

    transition: width linear 7s;
}
