html, body {
  overflow: hidden !important;
}

#quiz {
  position: absolute;
  width: 100%;
  height: 100%;
}

#quiz #question {
  position: absolute;
  width: 100%;
  height: 25%;
}

#quiz #options {
  overflow-y: auto;
  position: absolute;
  top: 25%;
  width: 100%;
  height: 70%;
}

#quiz #options > div.one-word {
  padding: 150px 0;
  margin-top: 90px;
  margin-right: 4%;
  width: 28%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 70px;

  transition: none;
}

#quiz #options > div.one-word:last-child {
  margin-right: 0;
}

#quiz #options > div.one-word.right {
  box-shadow: 0 0 20px #FFFFFF;
  transform: scale(1.1);

  transition: all ease-in 0.5s;
}

#quiz #options > div.one-word.wrong {
  opacity: 0.3;
  transform: scale(0.95);

  transition: all ease-in 0.5s;
}

#quiz #progress {
  position: absolute;
  top: 95%;
  width: 100%;
  height: 5%;
}

#quiz #progress #time-bar {
  width: 0;
  height: 100%;
  background-color: #0D2;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.2);

  transition: none;
}

#quiz #progress #time-bar.animate {
  width: 100%;

  transition: width linear 8s;
}

#quiz #conclusion {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
}

#quiz #conclusion.open {
  left: 0;

  transition: left ease-in-out 0.6s;
}

#quiz #conclusion div.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: red;
}

#quiz #conclusion div.bottom {
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 100px;
}
